@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: "Line Seed Sans TH"; 
  src: url("../fonts/LINESeedSansTH_W_Rg.woff"); 
  font-weight: normal;
} 

@font-face { 
  font-family: "Line Seed Sans TH"; 
  src: url("../fonts/LINESeedSansTH_W_Bd.woff"); 
  font-weight: bold;
} 

html, body {
  font-family: 'Line Seed Sans TH', sans-serif;
  height: 100%;
  width: 100%;
}