@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: "Line Seed Sans TH"; 
  src: url("/mlc/fonts/LINESeedSansTH_W_Rg.woff"); 
  font-weight: normal;
} 

@font-face { 
  font-family: "Line Seed Sans TH"; 
  src: url("/mlc/fonts/LINESeedSansTH_W_Bd.woff"); 
  font-weight: bold;
} 

body, #root {
  font-family: 'Line Seed Sans TH', sans-serif;
  height: 100vh;
  min-height: 100%;
  width: 100%;
}